/* this css file contains the styling needed for the header and the player team Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  background-image: url('../images/homebackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #333;
}
.containerBlock {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  display: inline-block;
  height: 50px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

nav ul li a:hover {
  color: #e5e5e5;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 0px;

}

.dashboard-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.dashboard-item:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);

}

.dashboard-item h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.dashboard-item p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.primary-button {
  background-color: #2c2f38;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.primary-button {
  background-color: #2c2f38;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: #4f525c;
}

.secondary-button {
  background-color: #fff;
  color: #2c2f38;
  border: 2px solid #2c2f38;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}



.hero-text {
  margin-top: 200px;
  text-align: center;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  line-height: 1.5;
}

.hero-text .primary-button {
  background-color: #fff;
  color: #2c2f38;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

.hero-text .primary-button:hover {
  background-color: #2c2f38;
  color: #fff;
}

.hero-text .secondary-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hero-text .secondary-button:hover {
  background-color: #fff;
  color: #2c2f38;
}
a{
  text-decoration: none;
  color:#2c2f38;
}

:root {
  --header-bg-color: #fafafa;
  --header-link-color:white;
  --header-link-hover-color: #f5b342;
  --header-link-active-color: #f8c051;
}

/* Upper Section */
.upper-section {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.upper-section .social-links a {
  color:white;
  font-size: 18px;
  margin-right: 20px;
  display: inline-block;
}

.upper-section .contact-links a {
  color: white;
  font-size: 18px;
  margin-right: 20px;
  display: inline-block;
}

.upper-section .contact-links a .icon-phone,
.upper-section .contact-links a .icon-envelope {
  margin-right: 5px;
}

/* Header Section */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .header-nav {
    flex-wrap: wrap;
  }
  
  .header-nav-list {
    flex-basis: 100%;
    margin: 20px 0;
    padding: 0;
  }
  
  .header-nav-item {
    margin: 0 10px;
  }
}
.site-navigation {
  width: 100%;
  background-color: black;
  position: relative;
  z-index: 999;
  font-size: 16px;
}

.site-navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}

.site-navigation .menu-toggle-wrapper {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.site-navigation .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-navigation .menu-list > li {
  position: relative;
}

.site-navigation .menu-list > li > a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
}

.site-navigation .menu-list > li:hover > a {
  background-color: #ffd700;
}

.site-navigation .menu-list > li > .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #000;
  padding: 10px 0;
}

.site-navigation .menu-list > li > .sub-menu > li > a {
  display: block;
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
}

.site-navigation .menu-list > li:hover > .sub-menu {
  display: block;
}
nav ul li{
  margin:0px;
}

