
.container {
    max-width: 1200px;
    padding: 20px;
    margin-left: 53px;;
    background-color: #f2f2f2;
}

/* Style for the player container */
.players-container {
    width: 25%;
    display: inline-block;
    margin: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.players-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Style for the player image */
.player img {
    width: 100%;
    height: 375px;
    object-fit: cover;
}

/* Style for the player information */
.player-info {
    padding: 10px;
}

/* Style for the player details container */
.player-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Style for the player name */
/* Style for the player name */
.player-details .player-name {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #2c2f38;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* Style for the player number */
/* Style for the player number */
.player-details .player-number {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #8c8c8c;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
}



/* Style for the view details link */
.view-details {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    background-color: #2c2f38;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 80%;
}

.view-details:hover {
    background-color:#2c2f38;
}
